body {
    width: 100vw;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    --txt-color:gray;
    --txt-spcl-color: #fddfd4;
}

pricing.countainer {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pricing-header {
    width: 90vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
}

.pricing-header div {
    margin:2vw 0 1vw 6vw;
}

.pricing-header>div>h1{
    display: inline;
    font-size: 3vw;
    font-weight: bold;
}

.pricing-header h2 {
    margin:0 0 2vw 6vw;
    font-size: 1.5vw;
    color: var(--txt-color);
}
input {
    margin:3vw 12vw;
}

.pricing-plans {
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height:fit-content;
}
ion-icon {
    display: inline-block;
    font-size: 1.3vw;
    color: var(--txt-color);
    margin-right: 0.5vw;
}
.sheet {
    padding: 1vw;
    border-radius: 1vw;
    margin-right: 1vw;
    width: 19vw;
    height: auto;
    background-color: whitesmoke;
}

.sheet:hover {
    border:0.1rem solid var(--txt-color);;
}

.popular {
background-color: #7c01e8;
    color: var(--txt-spcl-color);
}
.popular>div>h4 {
    color: #faf3f2;
}
.popular>p {
    color: var(--txt-spcl-color);
}
#icon-popular {
    color: var(--txt-spcl-color);
}
.popular button {
    background-color: var(--txt-spcl-color);;
}
.sheet h2 {
    font-size: 2vw;
}
h3 {
    font-size: 2.6vw;
    display: inline;
}
h4 {
    font-size: 1.2vw;
    color: var(--txt-color);
}
p {
    display: inline;
    font-size: 1.4vw;
    color: var(--txt-color);
    vertical-align: text-top;
}
dl {
    font-size: 0.8vw;
    padding: 2vw;
    line-height: 2vw;
}
dd {
    display: inline-block;
    margin: 1vw;
    line-height: 1vw;
}

.sheet button {
    margin-left: 3vw;
    width: 12vw;
    height: 3vw;
    color: rebeccapurple;
    border-radius: 0.5vw;
    padding: 0.5vw 0.7vw;
    border: 0.1vw solid var(--txt-color);;
    font-size: 0.9vw;
    font-weight: bold;
}

.sheet button:hover {
    background-color: rgba(114, 20, 149, 0.86);
    color: white;
}